@model ScholarSyncMVC.ViewModels.CategoryVM

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt class = "col-sm-2">
            Photo
        </dt>
        <dd >
            <img src="~/Uploads/category/@Model.PhotoURL" class="w-25" alt="Alternate Text" />
        </dd>
    </dl>
</div>
<div class=" mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

    <a asp-action="Index" class="btn btn-light">Back</a>
</div>
