@model IEnumerable<Scholarship>
@{
	ViewData["Title"] = "Scholarships";
}
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="m-auto w-75 p-3">
	@if (!string.IsNullOrEmpty(TempData["Message"] as string))
	{
		<div class="alert alert-primary mt-3 mb-2">
			@TempData["message"]
		</div>
	}

</div>
<p>
	<a class="btn btn-success" asp-action="Create">Create New Scholarship</a>
</p>
<table class="table table-bordered text-center">
	<thead>
		<tr>
			<th>Id</th>

			<th>Name</th>
			<th>StartDate</th>
			<th>EndDate</th>
			<th>Degree</th>
			<th>Cost</th>
			<th>Category</th>
			<th>University</th>
			<th>Country</th>
			<th>Department</th>

			<th>
				Details
			</th>
			<th>
				Edit
			</th>
			<th>
				Delete
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.StartDate</td>
				<td>@item.EndDate</td>
				<td>@item.Degree</td>
				<td>@item.Cost</td>
				<td>@item.Category.Name</td>
				<td>@item.University.Name</td>
				<td>@item.Country.Name</td>
				<td>@item.Department.Name</td>
				<td>
					<a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
				</td>


				<td>
					<a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
				</td>

				<td>
					<a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>